// roboto 400 700
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



// black  shades
$color-black-1: #101010;
$color-black-2: #242424;
$color-black-3: #363636;
$color-black-4: #4d4f54;
$color-black-5: #656565;

$color-white: #fafaff;

$smallWidth: 576px;
$mediumWidth: 800px;
$deskopWidth: 1100px;

$max-width:1400px;